<div class="field field--select">
	<label for="{{name}}" class="field__label">{{label}}</label>
	<div class="field__input">
        <select name="option" class="field__container field__select">
            <option class="field__option" onclick="fieldSelect.selectOption(this)">Користувач</option>
            <option class="field__option" onclick="fieldSelect.selectOption(this)">Адміністратор</option>
            <option class="field__option" onclick="fieldSelect.selectOption(this)">Розробник</option>
        </select>
	</div>
</div>